
<h3><%= link_to "＊過去問題を追加する", "/quizzes/new" %></h3>

<hr>

  <!--問題：-->
  <!--<br>-->
  <!--<%= simple_format(@quizzes.question) %>-->
  <!--<br>-->
  <!--<br>-->
  <!--選択肢：-->
  <!--<br>-->
  <!--<%= simple_format(@quizzes.selection) %>-->
  <!--<br>-->
  <!--<hr>-->
  
  
  <%= submit_tag "正解を表示する", :class => "btn btn-danger" %>

